*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
  font-size: 22px;
}
a{
  all:unset;
  /* text-decoration: none;
  color: black; */
}
li{
  cursor: pointer;
}
:root{
  --content_padding : 1em;
  --white_color : white;
  --primary_color : rgb(29, 155, 240);
  --hover_color : rgba(128, 128, 128, 0.219);
}
.nav_icons{
  font-size: 1.5rem;
  margin-right: 0.4em;
}
button{
  cursor: pointer;
  width: 100%;
  border-radius: 1em;
  border: none;
  padding: 0.8em;
  color: var(--white_color);
  background-color: var(--primary_color);
}

input{
  cursor: pointer;
  border: none;
  padding: 0.5em;
}
input:focus{
  outline: none;

}
body{
  width: 70%;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
}
body::-webkit-scrollbar{
  display: none;
}
aside{
  padding: 0.3em;
  /* width: 23%; */
  height: 100vh;
}
main{
  width : 50%;
  height: 100vh;
  /* width: 85%; */
  overflow-y: scroll;
  /* border: 1px solid red; */
}
.left_sidebar{
  width: 21%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.right_sidebar{
  width: 25%;
  height: 100vh;
  overflow-y: scroll;
}
main::-webkit-scrollbar, .right_sidebar::-webkit-scrollbar{
  display: none;
}
.right_sidebar > *{
  margin-bottom: 1em;
}
/* 
    - simple identifications on css to avoid same styles
*/

.grey_text{
  color: grey;
}

/* Loaders  = spinners */
/* HTML: <div class="loader"></div> */
.loading_c{
  display: flex;
  align-items: center;
  height: 100vh;

}
.loader {
  margin: auto;
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid lightblue;
  border-right-color: var(--primary_color);
  animation: l2 1s infinite linear;
}
@keyframes l2 {to{transform: rotate(1turn)}}